{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<h2><a class="article-title" href="#">COURSES ANALYSIS</a></h2>
{% endblock %}
{% block heading  %}

          {% endblock %}

{% block filter %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Filter" class="btn btn-warning">
</form>
{% endblock %}
{% block ranking_heading %}
<h3>Top Ranked Courses</h3>
{% endblock %}

{% block body %}
<div style="width: 500px; height: 500px;">
<canvas id="line-chart" width="1" height="1"></canvas>
</div>

<script>
new Chart(document.getElementById("line-chart"), {
    
    type: 'bar',
    data: {
      
      datasets: [
        { 
          backgroundColor: [
                'rgba(255, 99, 132, 0.5)',],
          data: ['{{cc.count}}'],
          label: "{{cc.course.course_name}}",
          borderColor: "#00000",
          fill: true
        },
] 
    },
    options: {
      title: {
        display: true,
        text: 'Number of times '+'{{ cc.course.course_name }}'+' course is accessed',
        responsive: true,
        maintainAspectRatio: false

      }
    }
  });
</script>
{% endblock %}